.footer {
  font-size: 0.75em;
}
.footer-text {
  list-style: none none;
  margin: 0;
  padding: 0;
}

.footer-list {
  float: left;
  margin-right: 1em;
  line-height: 2;
}

.last-button {
  float: right;
}

.btn-image {
  float: left;
  margin-left: 0.5em;
  line-height: 2;
  text-align: right;
}

.btn-image1 {
  float: left;
  margin-left: 0.5em;
  line-height: 2;
  text-align: right;
}

.wikimedia-img {
  border: 0;
  vertical-align: middle;
}
